.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.heart {
    box-sizing: border-box;
    max-height: 100vh;
    padding: 25px;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.heart:hover {
    opacity: 0.8;
    scale: 1.01;
}

.heart:hover.anim {
    opacity: 0.6;
}

.shake {
    animation: shake 1s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    10% {
        transform: translate(-2px, -4px) rotate(-2deg);
    }
    20% {
        transform: translate(-6px, 0px) rotate(2deg);
    }
    30% {
        transform: translate(6px, 4px) rotate(0deg);
    }
    40% {
        transform: translate(2px, -2px) rotate(2deg);
    }
    50% {
        fill: rgb(200, 0, 100);
        transform: translate(-2px, 4px) rotate(-2deg);
    }
    60% {
        transform: translate(-6px, 2px) rotate(0deg);
    }
    70% {
        transform: translate(6px, 2px) rotate(-2deg);
    }
    80% {
        transform: translate(-2px, -2px) rotate(2deg);
    }
    90% {
        transform: translate(2px, 4px) rotate(0deg);
    }
    100% {
        transform: translate(2px, -4px) rotate(-2deg);
    }
}

.pulsate {
    scale: 1.02 !important;
    fill: rgb(255, 0, 120);
}
