.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.heart {
    padding: 25px;
    transition: 0.2s;
    cursor: pointer;
}

.heart:hover {
    opacity: 0.8;
}

.heart:hover.anim {
    opacity: 0.6;
}
