.container {
    pointer-events: none;
    position: absolute;
    bottom: -100px;
    height: 100px;
    left: 0;
    right: 0;
    opacity: 0;
    animation: anim 1.5s ease-in-out 1;
}

@keyframes anim {
    0% {
        opacity: 25%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        transform: translateY(-110vh);
        opacity: 0%;
    }
}
